<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Cinzel:wght@400;700&display=swap" rel="stylesheet">

    <title>Admin Panel - Feedback</title>
</head>
<body>
    <div class="content-container">
        <div class="content">
            <h1>Admin Panel - Feedback</h1>
            <section>
                <table style="width:100%; border-collapse: collapse;">
                    <thead>
                        <tr>
                            <th style="border: 1px solid #444; padding: 10px;">ID</th>
                            <th style="border: 1px solid #444; padding: 10px;">Name</th>
                            <th style="border: 1px solid #444; padding: 10px;">Email</th>
                            <th style="border: 1px solid #444; padding: 10px;">Message</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for feedback in feedbacks %}
                        <tr>
                            <td style="border: 1px solid #444; padding: 10px;">{{ feedback.id }}</td>
                            <td style="border: 1px solid #444; padding: 10px;">{{ feedback.name }}</td>
                            <td style="border: 1px solid #444; padding: 10px;">{{ feedback.email }}</td>
                            <td style="border: 1px solid #444; padding: 10px;">{{ feedback.message }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </section>
            <nav>
                <a href="/">Home</a> | 
                <a href="/about/">About Us</a>
            </nav>
        </div>
    </div>

    <footer>
        <p>© 2024 Yggbranch.dev</p>
    </footer>

</body>
</html>